In [4]:
from pandas_datareader import data
import pandas as pd
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [7]:
import requests
from bs4 import BeautifulSoup

In [8]:
html = requests.get('https://companiesmarketcap.com/tech/largest-tech-companies-by-market-cap/').text
soup = BeautifulSoup(html, 'html.parser')
companyName = [x.get_text(strip=True) for x in soup.find_all('div', {'class': 'company-name'})][:10]
companyCode = [x.get_text(strip=True) for x in soup.find_all('div', {'class': 'company-code'})][:10]

In [9]:
print(companyCode)

['AAPL', 'MSFT', 'GOOG', 'AMZN', 'NVDA', 'META', 'TSLA', 'TSM', 'TCEHY', 'AVGO']

In [10]:
print(companyName)

['Apple', 'Microsoft', 'Alphabet (Google)', 'Amazon', 'NVIDIA', 'Meta Platforms (Facebook)', 'Tesla', 'TSMC', 'Tencent', 'Broadcom']

In [16]:
now = datetime.now()
data_source = 'yahoo'
start_date = now.today() - relativedelta(years  = 5)
end_date = now.today()
print(start_date)
print(end_date)
# df_TSM = data.DataReader('AAPL', data_source,start='2019-09-10', end='2019-10-09')

2018-11-01 18:23:16.692970
2023-11-01 18:23:16.693434

In [18]:
import yfinance 
df_TSM = yfinance.download("TSM",start=start_date,end=end_date)

[*********************100%%**********************]  1 of 1 completed

In [20]:
df_TSM.tail()

                 Open       High        Low      Close  Adj Close    Volume
Date
2023-10-25  90.800003  90.849998  86.680000  87.639999  87.639999  13027100
2023-10-26  87.120003  88.139999  86.540001  87.449997  87.449997   9377300
2023-10-27  87.540001  87.779999  85.889999  85.989998  85.989998  12478300
2023-10-30  87.309998  88.300003  86.000000  86.059998  86.059998   9785500
2023-10-31  86.150002  86.430000  84.949997  86.309998  86.309998   9001300